<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
   <settings>
      <setting value="true" name="callSettersOnNulls" />
      <setting value="false" name="cacheEnabled" />
      <setting value="true" name="useGeneratedKeys" />
      <setting value="REUSE" name="defaultExecutorType" />
      <setting value="VARCHAR" name="jdbcTypeForNull" />
      <setting value="true" name="mapUnderscoreToCamelCase" />
   </settings>

   <typeAliases>

      <!-- 시스템공통 -->
      <package name="com.seoul.post.to" />
      <package name="com.seoul.his.common.to" />
      <package name="com.seoul.his.common.util" />

      <package name="com.seoul.his.com.hospitalcode.to" />
      <package name="com.seoul.his.com.system.to" />
      <package name="com.seoul.his.com.util.to" />

      <package name="com.seoul.his.hdm.admission.to" />
      <package name="com.seoul.his.hdm.basebusiness.to" />
      <package name="com.seoul.his.hdm.consultationfee.to" />
      <package name="com.seoul.his.hdm.foreign.to" />
      <package name="com.seoul.his.hdm.outstandingamount.to" />
      <package name="com.seoul.his.hdm.patient.to" />
      <package name="com.seoul.his.msv.mcm.patientservice.to" />

      <package name="com.seoul.his.msv.pre.nursingmanagement.to" />
      <package name="com.seoul.his.msv.pre.operationrecord.to" />
      <package name="com.seoul.his.msv.pre.prescriptionmanagement.to" />

      <package name="com.seoul.his.msv.sup.bookingexam.to" />
      <package name="com.seoul.his.msv.sup.comprehensiveexam.to" />
      <package name="com.seoul.his.msv.sup.endoscoperadiologydiagnosis.to" />
      <package name="com.seoul.his.msv.sup.foreignpharmacy.to" />
      <package name="com.seoul.his.msv.sup.generalexam.to" />
      <package name="com.seoul.his.msv.sup.hosptaldiet.to" />
      <package name="com.seoul.his.msv.sup.hosptalpharmacy.to" />
      <package name="com.seoul.his.msv.sup.pathology.to" />
      <package name="com.seoul.his.msv.sup.physicaltherapy.to" />

 <!-- 인사 -->
      <package name="com.seoul.his.hrs.appoint.to" />            <!-- 발령관리 -->
      <package name="com.seoul.his.hrs.emp.to" />               <!-- 인사관리 -->




   </typeAliases>

</configuration>